.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  padding: 1rem;
  border: solid black 1px;
  cursor: pointer;
}

.cards {
  display: flex;
  gap: 0.5rem;
}
